{{define "command"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <!--<meta http-equiv="refresh" content="5" >  uncomment this to enable autorefresh. Disabled as it broke user defined parameter functionality-->
</head>
<body>
  <h1 class="text-center">{{ .Title }}</h1>
  <form action={{ .Title }} method="POST">
	arg:<input type="text" name="arg">
	<input type="submit" value="execute">
  <h5 class="text-center"><a href="/">Home</a></h5>
  <div class="container command">
{{ .Body }}
  </div>
</body>
</html>
{{end}}
